<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CarMax |Introducing us</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            background-color: #000;
            color: #fff;
        }
        
        html {
            box-sizing: border-box;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
            border: 2px #fff;
        }
        
        .card {
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
            margin: 8px;
        }
        
        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #030303;
            color: white;
        }
        
        .container {
            padding: 0 16px;
            text-align: center;
        }
        
        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        
        .title {
            color: rgb(225, 225, 225);
        }
        
        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: rgb(255, 96, 96);
            text-align: center;
            cursor: pointer;
            width: 100%;
        }
        
        .button:hover {
            background-color: rgb(173, 173, 173);
        }
        
        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>
    <link rel="stylesheet" href="css/navbar.css" />
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="about-section">
            <h1>About Us Page</h1>
            <h2>
                <U>CarMax</U>
            </h2>
            <p>Service Options Offered by CarMax</p>
            <p>
                Repairs and maintenance to help keep your car running smoothly.
            </p>
        </div>

        <h2 style="text-align: center">Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="images/pankhuri.png" alt="Pankhuri Parashar" style="width: 50%" />
                    <div class="container">
                        <h2>Pankhuri Parashar</h2>
                        <p class="title">CEO & Founder</p>
                        <p>
                            Pankhuri Parashar is <br /> Dealer with more than 2 years of<br /> expertise in Automobile Industry .<br /> she is a high energy individual fueled by <br />her passion for helping buisness growth digitally.
                        </p>
                        <p>Pankhuri@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="images/shreya.webp" alt="Shreya Saran" style="width: 42%" />
                    <div class="container">
                        <h2>Shoaib</h2>
                        <p class="title">Repairer and Manufacturer/p>
                            <p>
                                such a great Manufacturer.
                                <br /> of brand and lead the creative Company<br />he has managed multiple<br /> projects from concept through multiple company branch..
                            </p>
                            <p>shoaib@gmail.com</p>
                            <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="images/suruchi__.jpeg" alt="Suruchi Kumari" style="width: 46%" />
                    <div class="container">
                        <h2>Suruchi Kumari</h2>
                        <p class="title">Business Manager</p>
                        <p>
                            Suruchi Kumari is a Business Manager.<br />She has worked to design and extablish Car selling stratigies.<br />She has a working experience in organising <br /> car selling startegies.
                        </p>

                        <p>suruchi@gmail.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>


        </div>
</body>

</html>